doctype html
html(lang='en-us')
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display|Pontano+Sans")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title" content=`${title}` )
    meta(property="og:locale" content="en_US"	)
    meta(property="og:type" content="website")
    meta(property="og:site_name" content=`${h.stiteName}`)
    meta(property="og:url" content="https://student-to.herokuapp.com/" )
    meta(property="og:image" content=`${student.photo || ''}`)
    meta(name="Description" content=`${title}`)
  body
    block header   header.top
      nav.header
        .title
          a(href="/")
            h2 #{h.siteName}
        button.mobile_nav-button
          i(class= 'fa fa-navicon')
        button.mobile_nav-button_close
          i(class='fa fa-remove')
      .mobile_nav-div
        ul
          li.mobile_nav-list 
            a(href="/") Home
          li.mobile_nav-list
            a(href="/add") Add students
          li.mobile_nav-list
            a(href="/addResource") Add Resource
          li.mobile_nav-list
            a(href="/departments") Departments
          li.mobile_nav-list
            a(href="/levels") Levels
          if user
            li.mobile_nav-list
              a(href="/logout") Logout
          else 
            li.mobile_nav-list
              a(href='/login') Log in
            li.mobile_nav-list
              a(href="/register") Register
    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            div(class=`flash-${category}`)
              button.flash_button-close
                i(class='fa fa-close')
              p!= message
    .main
      block content
  footer
    block footer
      h3 Made with 
        i(class='fa fa-heart')  
        |  by 
        a(href="https://twitter.com/timipapi") Timi Omoyeni

    block scripts
      script(src="/javascripts/jquery.js")
      script(src="/javascripts/script.js")