extends layout

block content
  .background
    img.display_picture(src=`http://res.cloudinary.com/student-to-herokuapp-com/image/upload/v1/${student.photo}`, alt=`${student.name}`)
    .student_info
      h2= student.name
      h4 
        em Level:
        |  #{student.level}
      h4 
        em Department: 
        |  #{student.department}
      h4 
        em Age: 
        |  #{student.age}
      h4 Courses
      if student.courses
        ul
          each course in student.courses
            li
              i(class='fa fa-hashtag')
              a(href=`/courses/${course}`)= course	